@import url('https://fonts.googleapis.com/css2? family= Roboto:ital@1 & pantalla=intercambiar');
@import url('https://fonts.googleapis.com/css2? family= Open+Sans & display=swap');
@import url('https://fonts.googleapis.com/css2? family= Abril+Fatface & display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Secular+One&display=swap');

$fontFamily_h1: 'Roboto', sans-serif;
$fontFamily_p: 'Poppins', sans-serif;
$fontFamily_fo: Verdana, Geneva, Tahoma, sans-serif;
$fontFamily_nav: 'Secular One', sans-serif;
$color_body: rgb(194, 192, 192);
$color_navbar: rgb(139, 167, 139);


$fontMaps: (
    h1: 45px, 
    parrafo: 25px,
    footer: 25px,
    nav: 16px
);

$estilos: (
    tAlign: center,
    fSize: 25px,
    fFamily: $fontFamily_fo,
    fStyle: italic
);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: $color_body;
}
header {
    h1 {
        font-size: map-get($fontMaps, h1);
        font-family: $fontFamily_h1;
        text-align: center;
        font-style: italic;
        text-decoration: underline;
        }
    .navbar{
        font-size: map-get($fontMaps , nav );
        background-color: $color_navbar;
        text-shadow: 1px 1px 5px #000;
        font-family: $fontFamily_nav;
        }                 
}
    

main {
    font-size: 25px;
    padding: 3%;
    margin: 5px;
    margin-top: 10px;
.imgp{
    border: 5px solid #000;

}
    /* seccion faq */
    .card {
        font-family: $fontFamily_p;
        font-family: $fontFamily_h1;
        }

        .btn {
        background-color: $color_navbar;
        font-family: cursive;
        color: #000;
        text-decoration: underline;
        font-style: italic;
        font-size: 30px;
        border-radius: 10px;
        }

        .card-body {
        font-family: $fontFamily_p;
        font-size: 25px;
        }
    
    /* seccion grid */
    .contenedor {
        height: auto;
        width: auto;
        background-color: $color_body;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(8, 200px);
        grid-gap: 10px;
        padding: 10px;
        .item {
            border: 5px solid #000;
            border-radius: 5px;
            transition: all(0.7s);

            .item:hover {
                transform: scale(1.05);
                transition: all(0.7s);
                }

            .item1 {
                background-image: url(./multimedia/escritorio\ \(2\).jpg);
                box-sizing: cover;
                background-position: center;
                }

            .item2 {
                background-image: url(./multimedia/dormitorio1.jpg);
                box-sizing: cover;
                background-position: center;
                }

            .item3 {
                background-image: url(./multimedia/cama.jpg);
                box-sizing: cover;
                background-position: center;
                }

            .item4 {
                background-image: url(./multimedia/cocina.jpg);
                box-sizing: cover;
                background-position: center;
                }

            .item5 {
                background-image: url(./multimedia/comoda.jpg);
                box-sizing: cover;
                background-position: center;
                }

            .item6 {
                background-image: url(./multimedia//cuna.jpg);
                box-sizing: cover;
                background-position: center;
                }
        }
    }
    
    p {
        font-family: $fontFamily_p;
        font-size: 25px;
        }

    .flexIndex {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;

        .nleft {
            width: 50%;
            font-family: $fontFamily_p;
            .txtIndex {
                font-size: 25px;
                padding-right: 5%;
                }
            }
            .nright {
            background-image: url(./multimedia/familia2.jpg);
            height: 600px;
            width: 50%;
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;
            }
        }
    }    
    .input {
        transition: all (2s);
        width: 100%;
        text-transform: uppercase;
        }

        .item:hover {
            transform: scale(1.05);
            transition: all(0.7s);
            }

        .input:focus {
            font-size: 25px;
            text-transform: uppercase;
            font-weight: 500%;
            }

        .input::placeholder {
            color: rgb(138, 8, 8);
            }

    .textarea {
        width: 100%;
        }

    .select {
        @extend .textarea;
        }
    /*fin contacto*/
    .nav-link {
        transition: all 2s;
        }

        .nav-link:hover {
            font-family: cursive;
            font-size: 30px;
            transition: all 2s;
            }
        
    

footer {
    .copy {
        font-size: map-get($estilos, fSize);
        text-align: map-get($estilos, tAlign);
        font-style: map-get($estilos, fStyle);
        font-family: $fontFamily_fo;
    }
    div {
        
        .redes {
            display: flex;
            justify-content: space-evenly;
            font-family: $fontFamily_fo;
            flex-wrap: wrap;
            list-style: none;
            margin: 15px;
        }
    }
}

@media only screen and (min-width:360px) {

    .contenedor {
        grid-template-columns: 1fr 1fr;
        // height: auto;
    }
}

@media only screen and (min-width:600) and (max-width:767px) {

    .contenedorPromo1,
    .contenedorPromo2,
    .contenedorPromo3 {
        width: 100%;
        height: auto;
    }

    .nleft,
    .nright {
        width: 50%;
    }

    .contenedorPromo {
        width: 50%;
    }

    .contenedor {
        grid-template-columns: repeat(3, 1fr);
        height: auto;
    }

    .item1 {
        grid-column: 1/2;
        grid-row: 1/3;
    }

    .item2 {
        grid-column: 2/4;
        grid-row: 1/2;
    }

    .item3 {
        grid-column: 2/3;
        grid-row: 2/3;
    }

    .item4 {
        grid-column: 3/4;
        grid-row: 2/3;
    }

    .item5 {
        grid-column: 1/3;
        grid-row: 3/4;
    }

    .item6 {
        grid-column: 3/4;
        grid-row: 3/4;
    }
}


@media only screen and (min-width:768px) {

    .sectionPromo {
        display: flex;
        width: 100%;
        flex-wrap: nowrap;
    }

    .nleft,
    .nright {
        width: 50%;
    }

    .contenedor {
        height: auto;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 200px);
        grid-template-areas:
            "img1 img2 img2"
            "img1 img3 img4"
            "img5 img5 img6";
    }

    .item1 {
        grid-area: img1;
    }

    .item2 {
        grid-area: img2;
    }

    .item3 {
        grid-area: img3;
    }

    .item4 {
        grid-area: img4;
    }

    .item5 {
        grid-area: img5;
    }

    .item6 {
        grid-area: img6;
    }
}