@import url("https://fonts.googleapis.com/css2? family= Roboto:ital@1 & pantalla=intercambiar");
@import url("https://fonts.googleapis.com/css2? family= Open+Sans & display=swap");
@import url("https://fonts.googleapis.com/css2? family= Abril+Fatface & display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Secular+One&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(194, 192, 192);
}

header h1 {
  font-size: 45px;
  font-family: "Roboto", sans-serif;
  text-align: center;
  font-style: italic;
  text-decoration: underline;
}
header .navbar {
  font-size: 16px;
  background-color: rgb(139, 167, 139);
  text-shadow: 1px 1px 5px #000;
  font-family: "Secular One", sans-serif;
}

main {
  font-size: 25px;
  padding: 3%;
  margin: 5px;
  margin-top: 10px;
  /* seccion faq */
}
main .promo {
  border: 5px solid #000;
  border-style: double;
  width: 100%;
}
main .text-center {
  text-decoration: underline;
  font-style: italic;
}
main .card {
  font-family: "Poppins", sans-serif;
  font-family: "Roboto", sans-serif;
}
main .btn {
  background-color: rgb(139, 167, 139);
  font-family: cursive;
  color: #000;
  text-decoration: underline;
  font-style: italic;
  font-size: 30px;
  border-radius: 10px;
}
main .card-body {
  font-family: "Poppins", sans-serif;
  font-size: 25px;
}

p {
  font-family: "Poppins", sans-serif;
  font-size: 25px;
}

.flexIndex {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.flexIndex .nleft {
  width: 100%;
  font-family: "Poppins", sans-serif;
}
.flexIndex .nleft .txtIndex {
  font-size: 25px;
  padding-right: 5%;
}
.flexIndex .nright {
  background-image: url(./multimedia/familia2.jpg);
  height: 600px;
  width: 100%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.input {
  transition: all 2s;
  width: 100%;
  text-transform: uppercase;
}

.item:hover {
  transform: scale(1.05);
  transition: all(0.7s);
}

.input:focus {
  font-size: 25px;
  text-transform: uppercase;
  font-weight: 500%;
}

.input::-moz-placeholder {
  color: rgb(138, 8, 8);
}

.input:-ms-input-placeholder {
  color: rgb(138, 8, 8);
}

.input::placeholder {
  color: rgb(138, 8, 8);
}

.textarea, .select {
  width: 100%;
}

/*fin contacto*/
.nav-link {
  transition: all 2s;
}

.nav-link:hover {
  font-family: cursive;
  font-size: 30px;
  transition: all 2s;
}

footer .copy {
  font-size: 25px;
  text-align: center;
  font-style: italic;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
footer div .redes {
  display: flex;
  justify-content: space-evenly;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  flex-wrap: wrap;
  list-style: none;
  margin: 15px;
}

@media only screen and (min-width: 600) and (max-width: 767px) {
  .contenedorPromo1,
.contenedorPromo2,
.contenedorPromo3 {
    width: 100%;
    height: auto;
  }
  .nleft,
.nright {
    width: 50%;
  }
  .contenedorPromo {
    width: 50%;
  }
}
@media only screen and (min-width: 600) and (max-width: 767px) and (min-width: 768px) {
  .sectionPromo {
    display: flex;
    width: 100%;
    flex-wrap: nowrap;
  }
  .nleft,
.nright {
    width: 50%;
  }
}/*# sourceMappingURL=estilo.css.map */